<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
		<title>ゴーカード</title>
		<script
			src="https://unpkg.com/htmx.org@2.0.3"
			integrity="sha384-0895/pl2mu10hqc6jd4rvrthnldie9u1twmx7wresftedrosgxnsqg/ze9ymrzhq"
			crossorigin="anonymous"
		></script>
		<style type="text/css" media="screen">
			@import url("/static/cards.css");
		</style>
	</head>
	<body>
		<header>
			<p>ゴーカード</p>
		</header>
		<p>hello world!</p>
	</body>
</html>
