<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<title>gocards</title>
		<script
			src="https://unpkg.com/htmx.org@2.0.3"
			integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
			crossorigin="anonymous"></script>
		<style></style>
	</head>
	<body>
		<p>ゴーカード</p>
		<div id="deck-select">
			<form
				hx-post="/decks/select"
				hx-trigger="change"
				hx-target="#deck-select"
				hx-swap="outerHTML">
				<label for="decks">Choose a deck:</label>
				<select
					name="decks"
					id="decks"
					required>
					<option
						value=""
						disabled
						selected>
						Select a deck
					</option>
					{{range $index, $item := .Decks}}
					<option value="{{$index}}">{{$item.Deck.DeckName}}</option>
					{{end}}
				</select>
			</form>
		</div>
		<div id="deck-upload">
			<form
				hx-post="/decks/upload"
				hx-trigger="submit"
				hx-target="#decks"
				hx-swap="outerHTML"
				enctype="multipart/form-data">
				<label for="deck-name">Or upload one first:</label>
				<input
					type="file"
					name="deck-name"
					id="deck-name"
					required />
				<button type="submit">Upload</button>
			</form>
		</div>
	</body>
</html>
